<% 
const buttonStyle = {
    1: 'primary',
    2: 'secondary',
    3: 'success',
    4: 'danger',
    5: 'link',
    6: 'premium'
};
-%><% _%>
<button
    style="<%- buttonStyle[data.comp.style] %>"<% _%>
<%_ %><% if (data.comp.emoji && (data.comp.emoji.id || data.comp.emoji.name)) { %>
    emote=<% if (data.comp.emoji.id) { %><% _%>
<% _%>{new Emote(id: <%= data.comp.emoji.id %>, name: <%= data.comp.emoji.name %>, animated: <%= data.comp.emoji.animated === true %>)}
<% } else { %><% _%>
<% _%>{new Emoji(<%= data.comp.emoji.name %>)}
<%_ } -%>
<%_ } -%><% _%>
<%_ %><% if (data.comp.disabled) { %>
    disabled
<%_ } -%>
<%_ %><% if (data.comp.custom_id && data.comp.style !== 5 && data.comp.style !== 6) { %>
    customId=<%= data.comp.custom_id %><% _%>
<%_ } -%><% if (data.comp.sku_id && data.comp.style === 6) { %>
    sku=<%= data.comp.sku_id %><% _%>
<%_ } -%>
<%_ %><% if (data.comp.url && data.comp.style === 5) { %>
    url=<%= data.comp.url %><% _%>
<% } -%>
<%_ %><% if (data.comp.label) { %>
>
    <%- data.comp.label %>
</button>
<%_ } else {-%><% _%>
/>
<% } -%>